@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.288), rgba(0, 0, 255, 0.24));
    }
    .imagem {
        float: left;
        height: 90vh;
        width: 30vw;
        margin-top: -80px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 30px;
    }
    form input {
        width: 75%;    
    }
    form input:hover {
        background-color: rgba(160, 66, 66, 0.945);
        transition: background-color .3s;
    }
    h2 {
        font-size: 1.7em;
        margin-top: 80px;
    }
    .box-input {
        display: inline-block;
        width: 40%;
        margin: 5px;
    }
    input[type = submit] {
        display: inline-block;
        width: 40%;
    }
    a {
        display: inline-block;
        width: 40%;
    }
    .box-input:hover {
        color: white;
        background-color: rgb(173, 139, 211);
        transition: color .3s, background-color .5s;
    }
    input[type = submit]:hover {
        transition: background-color .3s, color .2s;
    }
    a:hover {
        transition: background-color .3s, color .2s;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 85vw;
        height: 70vh;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.24), rgba(0, 0, 255, 0.199))
    }
    .imagem {
        float: right;
        height: 70vh;
        width: 40vw;
        margin-top: -50px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }
    form {
        margin: 50px 50px 0px 0px;
    }
    form input {
        width: 35vw;
    }
    p {
        margin: 0px 5px 15px;
    }
    .box-input {
        display: inline-block;
        width: 50%;
        margin: 5px;
    }
    input[type = submit] {
        display: inline-block;
        width: 40%;
        margin-top: 5px;
    }
    a {
        display: inline-block;
        width: 40%;
    }
    .box-input:hover {
        color: white;
        background-color: rgba(92, 19, 175, 0.479);
        transition: color .10s, background-color .5s;
    }
    input[type = text], input[type = password]:hover {
        background-color: rgba(255, 255, 255, 0.233);
        transition: background-color .5s;
    }
    input[type = submit]:hover {
        transition: background-color .3s, color .2s;
    }
    a:hover {
        transition: background-color .3s, color .2s;
    }
}
@media screen and (min-width: 1200px) {
    main {
        width: 85vw;
        height: 70vh;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.24), rgba(0, 0, 255, 0.199))
    }
    .imagem {
        float: right;
        height: 70vh;
        width: 40vw;
        margin-top: -100px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }
    h2 {
        margin-top: -100px;
    }
    form {
        margin-top: 200px;
        
    }
    form input {
        width: 35vw;
    }
    form input:hover {
        transition: background-color .3s;
    }
    p {
        margin: 0px 5px 15px;
    }
    .box-input {
        display: inline-block;
        width: 50%;
        margin: 5px;
    }
    input[type = submit] {
        display: inline-block;
        width: 40%;
        margin-top: 5px;
    }
    a {
        display: inline-block;
        width: 40%;
    }
    .box-input:hover {
        color: white;
        background-color: rgb(173, 139, 211);
        transition: color .3s, background-color .5s;
    }
    input[type = submit]:hover {
        transition: background-color .3s, color .2s;
    }
    a:hover {
        transition: background-color .3s, color .2s;
    }
}
@media screen and (orientation: portrait) and (min-width: 1200px) {
    main {
        width: 85vw;
        height: 70vh;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.24), rgba(0, 0, 255, 0.199))
    }
    .imagem {
        float: right;
        height: 70vh;
        width: 40vw;
        margin-top: -50px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }
    h2 {
        margin-top: -50px;
    }
    form {
        margin-top: 100px;
    }
    form input {
        width: 35vw;
    }
    p {
        margin: 0px 5px 15px;
    }
    .box-input {
        display: inline-block;
        width: 50%;
        margin: 5px;
    }
    input[type = submit] {
        display: inline-block;
        width: 40%;
        margin-top: 5px;
    }
    a {
        display: inline-block;
        width: 40%;
    }
    .box-input:hover {
        color: white;
        background-color: rgb(173, 139, 211);
        transition: color .3s, background-color .5s;
    }
    input[type = submit]:hover {
        transition: background-color .3s, color .2s;
    }
    a:hover {
        transition: background-color .3s, color .2s;
    }
}
@media screen and (orientation: landscape) and (min-width: 1200px) {
    main {
        width: 85vw;
        height: 70vh;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.24), rgba(0, 0, 255, 0.199))
    }
    .imagem {
        float: right;
        height: 70vh;
        width: 40vw;
        margin-top: -50px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 30px;
    }
    h2 {
        margin-top: -50px;
    }
    form {
        margin-top: 100px;
    }
    form input {
        width: 35vw;
    }
    p {
        margin: 0px 5px 15px;
    }
    .box-input {
        display: inline-block;
        width: 50%;
        margin: 5px;
    }
    input[type = submit] {
        display: inline-block;
        width: 40%;
        margin-top: 5px;
    }
    a {
        display: inline-block;
        width: 40%;
    }
    .box-input:hover {
        color: white;
        background-color: rgb(173, 139, 211);
        transition: color .3s, background-color .5s;
    }
    input[type = submit]:hover {
        transition: background-color .3s, color .2s;
    }
    a:hover {
        transition: background-color .3s, color .2s;
    }
}