@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100vw
}
body {
    background-color: rgba(60, 60, 148, 0.267);
}
main {
    position: absolute;
    background-color: #38383854;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 80vw;
    border-radius: 30px;
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease; /*pra dar uma suavizada na animação*/
}
.imagem {
    background-image: url(../imagens/pexels-lawlesscapture-13737660.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}
p {
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 0px;
}
form {
    text-align: center;
}
form input {
    display: block;
    height: 35px;
    width: 80%;
    margin: auto;
    background-color: rgba(190, 49, 80, 0.582);
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 0px 0px 0px 0px;
    border-radius: 5px;
    text-align: center;
}
label {
    display: none;
}
.box-input {
    display: block;
    margin: 12px;
    background-color: rgb(127, 106, 151);
    border-radius: 10px;
    width: 93%;
}
input[type = text] {
    width: calc(100% - 33px);
    margin: auto;
    border-radius: 10px;
}
input[type = text]:focus-within {
    color: rgb(127, 106, 151);
    background-color: white;
}
input[type = password] {
    width: calc(100% - 33px);
    margin: auto;
    border-radius: 10px;
}
input[type = password]:focus-within {
    color: rgb(127, 106, 151);
    background-color: white;
}
input[type = submit] {
    background-color: rgb(139, 84, 201);
    cursor: pointer;
    margin-bottom: 6px;
}
input[type = submit]:hover {
    background-color: rgb(118, 45, 201); 
    color: white;
    transition: color .2s, background-color .3s;
}
a {
    display: block;
    text-decoration: none;
    background-color: rgba(209, 102, 219, 0.562);
    height: 25px;
    width: 80%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.226);
    box-shadow: 0px 0px 0px 0px;
    border-radius: 5px;
    font-size: 0.9em;
    color: black;
    cursor: pointer;
    padding: 4px;
}
a:hover {
    background-color: rgba(142, 25, 153, 0.562);
    color: white;
    transition: color .2s, background-color .3s;
}
.material-icons {
    float: left;
    color: black;
    font-size: 2em;
    border-radius: 8px;
}
#fg {
    position: absolute;
    float: right;
    font-size: 1.4em;
    margin: -3px 0px 0px 5px;
}
